Silence		context _
Stop		context p,b,t,d,k,g
Nasal		context m,n,c,N
Fricative	context s,f,h,v,T,D,S
Liquid		context l,r
Bilabial	context p,b,m
Bilabial_vt	context p,b,m,v,t,f
Dental		context t,d,n,T,D
Dental_s	context t,d,n,s,T,D
Palatal		context k,g,c,N
Palatal_h	context k,g,c,h,N
FrontFricative	context f,v
DemiVowel	context j,v
Anterior	context p,b,m,t,d,n,f,v,s,l,r,z,D,T
NonAnterior	context k,g,c,h,N
Unvoiced-Clus	context p,t,k,C
Voiced-Clus	context b,d,g,Z,z
Voiced-Clus-Nas	context b,d,g,n,m,c,N
Unvoiced-Fric	context s,f,h,S,T
Voiced-Fric	context v,h,D
Vowel		context a,e,i,o,u,y,ä,ö
VRound		context u,y,o,ö
VLavea		context a,e,i,ä
VBack		context a,o,u
VFront		context e,i,y,ä,ö
VSuppea		context i,y,u
VCentral	context ö,e,o
VValja		context ä,a
SuppeaEtu	context i,y
KeskiEtu	context ö,e
RoundFront	context y,ö
RoundBack	context o,u
ValjaFront	context i,e
AO		context a,o
OU		context o,u
VU		context v,u
IJ		context i,j
a		context a
b		context b
d		context d
e		context e
f		context f
g		context g
h		context h
i		context i
j		context j
k		context k
l		context l
m		context m
n		context n
ng		context c
o		context o
p		context p
r		context r
s		context s
t		context t
u		context u
v		context v
y		context y
C		context C
D		context D
N		context N		
S		context S
T		context T
Z		context Z
